<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="styles.css">
<meta charset="ISO-8859-1">
<title>EOP</title>
</head>
<body>
	<div class="container">
		<img src="https://logopond.com/logos/dbd8fbd6c1d62148ebe7caac8fc842df.png"/>
		<div class="login">
			<label>
				<span>Login</span>
				<input type="text" placeholder="Digite seu email">
			</label>
			<label>
				<span>Senha</span>
				<input type="password" placeholder="Digite sua senha">
			</label>			
		</div>
	</div>
</body>
</html>