@charset "ISO-8859-1";

body{
	background: #e8e8e8;
    margin: 0;
    padding: 0;
    z-index: 0;
}

.container {
	height: 100vh;
	
	display:flex;
	justify-content: center;
	align-items: center; 
}

.login label {
	padding: 20px;
	
	display:flex;
	flex-direction:column;
	justify-content: center;
	
}
