header{ 
    display: flex;
    justify-content: center;
    align-items: center;
 }
  
  .logo {
    display: flex;
    justify-content: flex-start;
  }

  .perguntas {   	
    
    display: flex;
    flex-direction: column;
  }

  .perguntas span{
    margin: 10px;
    text-align: left;
  }
  
  .pergunta {  
    display: flex;
    align-items: center;
    border: 2px solid blue;
  }
  
  .pergunta img{
   margin-inline: 10px;
  }
 
  .perguntas hr{
   border: 1px solid #000;
   width: 100%;
  }
  
  .enviar {  
    display: flex;
    flex-direction: column;
    width:100px;
    border: 2px solid #000;
  }
  
  form.perguntas button {
  	
	width:100px;
	background-color: var(--secondary);
	color: var(--text-light-color);
}
